html, body {
	font-family: Lato;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden; 
}

.flow {
	overflow-x: hidden;
}

header {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5))),url(food.jpg);
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(food.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.header-text {
	color: white;
	position: absolute;
	margin: 20% 4.5%;
	/*top: 55%;
	left: 35%;
	transform: translate(-60%,-60%);*/
}

.header .row {
	width: 80%;
}

.header-text h1 {
	font-size: 4rem;
	font-weight: 300;
}

.header-text h2 {
	font-size: 3rem;
	font-weight: 100;
}

.btn-info, .btn-outline-info {
	margin-top: 20px;
	padding: 10px;
	margin-left: 10px;
}

.navbar {
	font-size: 1.5rem;
}

.navbar-light .navbar-toggler-icon {
	color:white;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:visited {
	color:white;
	border-bottom: 1px solid white;
}

.navbar-light .navbar-brand {
	color:white;
	font-size: 1.8rem;
	margin-left: 4rem;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:active,
.navbar-light .navbar-brand:visited {
	color:white;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0.5rem 1rem;
}

.navbar.scrolled {
	background-color: #5bc0de;
	-webkit-transition: background 300ms;
	transition: background 300ms;
}


/*First Section*/


#f-int, #f-des {
	text-align: center;
}

#f-int {
	font-size: 3rem;
	font-weight: 300;
	margin-top: 50px;
	text-transform: uppercase;
}

#f-des {
	font-size: 1.2rem;
	margin-top: 30px;
	margin-bottom: 50px;
}

.features {
	width: 80%;
	margin: auto;
}

.features i {
	font-size: 2rem;
	display: block;
} 	

.feature .h3, h3 {
	font-size: 2rem;
	padding-top: 50px;
	font-weight: 300;
	height: 160px;
}

.features p {
	font-size: 1rem;
	width: 90%;
	margin: 0 auto 80px auto;

}


/*Download App Section*/

.download {
	background-color: rgba(91,192,222,0.05);
}

.download h2 {
	padding-top: 5%;
	text-align: center; 
	font-size: 3rem;
	font-weight: 300;
	color: #5bc0de;
}

.app-img {
	width: 40%;
	margin: 10% 0 20% 60%;
}

.download h3 {
	padding: 10% 0 0 10%;
	font-size: 2.5rem;
	font-weight: 400;
	color: #5bc0de;
	height: 100px;
	display: inline-block;
	float:left;	
}

.download p {
	padding: 10% 0 0 20%;
	font-size: 1.2rem;
	font-weight: 300;
	color: #5bc0de;
	width: 90%;
	margin:0;
}

.btn-app img {
	margin-top:8%;
	height: 50px;
	margin-bottom: 20%;	
}

.android {
	margin-left: 10%;
} 


/*LOCATION SECTION*/

.location {
	width: 80%;
	margin: auto;
	padding-bottom:5%;
}

.location h2 {
	margin-top: 5%;
	text-align: center; 
	font-size: 3rem;
	font-weight: 300;
}

.location h3 {
	font-size: 2rem;
	font-weight: 300;
	text-align: left;
	height: 100px;
	text-align: center;
}

.location .city-img {
	height: auto;
	width: 90%;
	margin: 10% 5%;
}

.location ul{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 300;
	margin-left: -20px;
	list-style: none;
	margin-bottom: 10px;
}



/*SELLER PAGE*/

.seller-page {
	background-color: rgba(91,192,222,0.05);
	padding-bottom: 5%;
}

.seller-page h2 {
	padding: 5% 0;
	text-align: center; 
	font-size: 3rem;
	font-weight: 300;
	color: #5bc0de;
}

form {
	width: 50%;
	margin: 0 auto;
}

input, select {
	width: 100%;
	height: 25px;
}

input[type=checkbox] {
	width:15px;
	height:15px;
	margin: 0 0 3px 5px;
	vertical-align: middle;
}

.contact-form {
	border-top: 1px solid #5bc0de;
	border-bottom: 1px solid #5bc0de;
	padding: 40px 20px;
}

.submit {
	width: 20%;
	margin: 0 40% 0 40%;
    padding: 0;
    display: inline-block;
}


/*FOOTER*/

footer {
	padding: 3% 0 1% 0;
	width: 80%;
	margin: auto;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social {
	list-style: none;
	float: right;	
}

.footer-nav li,
.social li {
	display: inline-block;
	margin-right: 8px;
}

footer p {
	margin-top: 2%;
	text-align: center;
}

footer ul {
	padding:0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social li a:link,
.social li a:visited {
	text-decoration: none;
	color: black;
	-webkit-transition: 500ms;
	transition: 500ms;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #5bc0de;
}

footer .fab {
	font-size: 1.5rem;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
	-webkit-transition: 500ms;
	transition: 500ms;
}

.fa-facebook-square:hover {
	color: #3b5998;
}

.fa-twitter-square:hover {
	color: #00aced;
}

.fa-instagram:hover {
	color: #517fa4;
}
